<div style="min-height:82vh;">
    <div class="container">
        <div *ngIf="listing">
            <div class="mx-5 py-3">
                <div class="row pb-2">
                    <div>
                        <span class="float-start fs-3"> Story Title</span>
                        <span class="float-end text-primary"> Date :- 13 ,June 2021</span>

                    </div>
                </div>


                <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
                    labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi
                    animcupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est
                    aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia
                    pariatur ut officia...</p>

                <button class="btn btn-outline-secondary me-2" (click)="listing=!listing">Edit</button>
                <button class="btn btn-outline-danger">Delete</button>
            </div>
            <div class="mx-5 py-3">
                <div class="row pb-2">
                    <div>
                        <span class="float-start fs-3"> Story Title</span>
                        <span class="float-end text-primary"> Date :- 13 ,June 2021</span>

                    </div>
                </div>


                <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
                    labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi
                    animcupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est
                    aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia
                    pariatur ut officia...</p>

                <button class="btn btn-outline-secondary me-2">Edit</button>
                <button class="btn btn-outline-danger">Delete</button>
            </div>
            <div class="mx-5 py-3">
                <div class="row pb-2">
                    <div>
                        <span class="float-start fs-3"> Story Title</span>
                        <span class="float-end text-primary"> Date :- 13 ,June 2021</span>

                    </div>
                </div>


                <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
                    labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi
                    animcupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est
                    aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia
                    pariatur ut officia...</p>

                <button class="btn btn-outline-secondary me-2">Edit</button>
                <button class="btn btn-outline-danger">Delete</button>
            </div>
            <div class="mx-5 py-3">
                <div class="row pb-2">
                    <div>
                        <span class="float-start fs-3"> Story Title</span>
                        <span class="float-end text-primary"> Date :- 13 ,June 2021</span>

                    </div>
                </div>


                <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
                    labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi
                    animcupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est
                    aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia
                    pariatur ut officia...</p>

                <button class="btn btn-outline-secondary me-2">Edit</button>
                <button class="btn btn-outline-danger">Delete</button>
            </div>
            <div class="mx-5 py-3">
                <div class="row pb-2">
                    <div>
                        <span class="float-start fs-3"> Story Title</span>
                        <span class="float-end text-primary"> Date :- 13 ,June 2021</span>

                    </div>
                </div>


                <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
                    labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi
                    animcupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est
                    aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia
                    pariatur ut officia...</p>

                <button class="btn btn-outline-secondary me-2">Edit</button>
                <button class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
    </div>
</div>