<div style="min-height:82vh;">
    <div class="container">


        <div *ngIf="listing" class="my-5">


            <div class="row">
                <span class="fs-3 ">Your Stories
                    <button class="btn btn-secondary float-end" (click)="openCreateForm()">Add
                        New</button></span>
            </div>
            <div class="mx-5 py-3" *ngFor="
            let story of stories | sortByDate
            | paginate
            : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
        let i = index

            ">

                <div class="row pb-2">
                    <div>
                        <span class="float-start fs-3"> {{story.title}}</span>
                        <span class="float-end text-primary"> Date :- {{story.created_at | date:'mediumDate'}}</span>

                    </div>
                </div>


                <div [innerHTML]="story.content | safeHtml" class="p-2"></div>

                <button class="btn btn-outline-secondary me-2" (click)="openEditForm(story.id)">Edit</button>
                <button class="btn btn-outline-danger" (click)="deleteStory(story.id)">Delete</button>
            </div>
            <div style="min-height: 60vh;" class="text-center m-auto" *ngIf="stories.length==0">
                No story found
            </div>
            <div class="d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>
        </div>
        <div *ngIf="openForm" class="mx-5 my-4">
            <p class="fs-3 text-center">
                <button class="btn btn-warning float-start" (click)="listing=true;openForm=false;">Go Back</button>
                Add Your Story
            </p>

            <form [formGroup]="storyForm" (ngSubmit)="editButton==false?addStory():editStoryFun()">
                <div class="mb-3">
                    <label  class="form-label">Title</label>
                    <input type="text" class="form-control"  formControlName="title">
                    <p *ngIf="(
                        storyForm.controls['title'].dirty ||
                        storyForm.controls['title'].touched ||
                        storyForm.controls['title'].pristine) &&
                        storyForm.controls['title'].errors
                    " class="alert alert-danger">This Field is Required</p>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Content</label>
                    <ckeditor #editor formControlName="content">
                    </ckeditor>
                    <p *ngIf="(
                        storyForm.controls['content'].dirty ||
                        storyForm.controls['content'].touched ||
                        storyForm.controls['content'].pristine) &&
                        storyForm.controls['content'].errors
                    " class="alert alert-danger">This Field is Required</p>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Created At</label>
                    <input type="datetime-local" class="form-control"
                        formControlName="created_at">
                    <p *ngIf="(
                        storyForm.controls['created_at'].dirty ||
                        storyForm.controls['created_at'].touched ||
                        storyForm.controls['created_at'].pristine) &&
                        storyForm.controls['created_at'].errors
                    " class="alert alert-danger">This Field is Required</p>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!storyForm.valid">Submit
                </button>

            </form>
        </div>

    </div>
</div>
