<div style="min-height:82vh;">
    <div class="container">


        <div *ngIf="listing" class="my-5">


            <div class="row">
                <span class="fs-3 ">Your Stories
                    <button class="btn btn-secondary float-end" (click)="openCreateForm()">Add
                        New</button></span>
            </div>
            <div class="mx-5 py-3" *ngFor="
            let idea of ideas | sortByDate
            | paginate
            : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
        let i = index

            ">

                <div class="row pb-2">
                    <div>
                        <span class="float-start fs-3"> {{idea.title}}</span>
                        <span class="float-end text-primary"> Date :- {{idea.completedAt | date:'medium'}}</span>

                    </div>
                </div>


                <div [innerHTML]="idea.content | safeHtml" class="p-2"></div>

                <button class="btn btn-outline-secondary me-2" (click)="openEditForm(idea.id)">Edit</button>
                <button class="btn btn-outline-danger" (click)="deleteIdea(idea.id)">Delete</button>
            </div>
            <div style="min-height: 60vh;" class="text-center m-auto" *ngIf="ideas.length==0">
                No story found
            </div>
            <div class="d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>
        </div>
        <div *ngIf="createIdea" class="mx-5 my-4">
            <p class="fs-3 text-center">
                <button class="btn btn-warning float-start" (click)="listing=true;createIdea=false;">Go Back</button>
                Add Your Story
            </p>
            <form [formGroup]="ideaForm" (ngSubmit)="addIdea()">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputValue" formControlName="title">
                    <label for="floatingInputValue">Title</label>
                    <p *ngIf="(
                        ideaForm.controls['title'].dirty ||
                        ideaForm.controls['title'].touched ||
                        ideaForm.controls['title'].pristine) &&
                        ideaForm.controls['title'].errors
                    " class="alert alert-danger">This Field is Required</p>
                </div>
                <ckeditor #editor formControlName="content">
                </ckeditor>
                <p *ngIf="(
                        ideaForm.controls['content'].dirty ||
                        ideaForm.controls['content'].touched ||
                        ideaForm.controls['content'].pristine) &&
                        ideaForm.controls['content'].errors
                    " class="alert alert-danger">This Field is Required</p>


                <select class="form-select" formControlName="status">
                    <option value="" selected>Select an Status</option>
                    <option value="pending">Pending</option>
                    <option value="proccessing">In Progress</option>
                    <option value="completed">Completed</option>
                </select>
                <div class="form-floating my-3">
                    <input type="datetime-local" class="form-control" id="floatingInputValue"
                        formControlName="completedAt">
                    <label for="floatingInputValue">Completion Date</label>
                    <p *ngIf="(
                        ideaForm.controls['completedAt'].dirty ||
                        ideaForm.controls['completedAt'].touched ||
                        ideaForm.controls['completedAt'].pristine) &&
                        ideaForm.controls['completedAt'].errors
                    " class="alert alert-danger">This Field is Required</p>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!ideaForm.valid">Submit
                </button>

            </form>
        </div>
        <div *ngIf="editIdea" class="mx-5 my-4">
            <p class="fs-3 text-center">
                <button class="btn btn-warning float-start" (click)="listing=true;editIdea=false;">Go Back</button>
                Edit Your Story
            </p>
            <form [formGroup]="ideaForm" (ngSubmit)="updateIdea()">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputValue" formControlName="title">
                    <label for="floatingInputValue">Title</label>
                </div>
                <ckeditor #editor formControlName="content">
                </ckeditor>
                <div class="form-floating my-3">
                    <input type="datetime-local" class="form-control" id="floatingInputValue"
                        formControlName="completedAt">
                    <label for="floatingInputValue">Completion Date</label>
                </div>

                <button type="submit" class="btn btn-primary">Submit
                </button>

            </form>
        </div>
    </div>
</div>